# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("Resources/cities.csv")
weather_df.head(10)

,city_id,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
0,1,Norfolk,42.17,-71.25,68.00,88,1,2.42,US,1596259718
1,2,Punta Arenas,-53.15,-70.92,37.40,86,98,11.41,CL,1596259417
2,3,Cañon City,38.44,-105.24,68.00,56,1,18.34,US,1596259472
3,4,Rikitea,-23.12,-134.97,73.56,85,100,5.03,PF,1596259719
4,5,Richards Bay,-28.78,32.04,57.60,87,1,6.31,ZA,1596259719
5,6,Chkalovsk,56.76,43.24,64.40,72,53,4.47,RU,1596259719
6,7,Lakatoro,-16.10,167.42,80.60,83,75,3.36,VU,1596259719
7,8,Maxixe,-23.86,35.35,55.40,93,20,2.24,MZ,1596259719
8,9,Hermanus,-34.42,19.23,46.00,97,0,4.34,ZA,1596259719
9,10,Carnarvon,-24.87,113.63,69.80,60,6,17.22,AU,1596259720

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

# Store Lat and Lng into locations 
locations = weather_df[["lat", "lng"]].astype(float)

# Store Humidity as weight
humidity = weather_df["humidity"].astype(float)

# Create a Humidity heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Ideal weather conditions 
weather_cond = weather_df.loc[(weather_df["max_temp"] >= 77) & (weather_df["max_temp"] <= 86) &
                            (weather_df["humidity"] <= 40) &
                            (weather_df["cloudiness"] <= 30) &
                            (weather_df["wind_speed"] <= 20)]

# Drop any rows will null values
weather_cond = weather_cond.dropna()

weather_cond

,city_id,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
84,85,Springville,40.17,-111.61,84.20,37,1,6.51,US,1596259566
153,154,Jiayuguan City,39.82,98.30,79.39,17,0,9.10,CN,1596259767
208,209,Ubari,26.59,12.78,80.49,20,0,9.48,LY,1596259796
226,227,Atbasar,51.80,68.33,83.68,32,15,3.31,KZ,1596259810
322,323,Katherine,-14.47,132.27,86.00,19,8,12.75,AU,1596259524
342,343,Yumen,40.28,97.20,83.93,14,0,9.57,CN,1596259859
376,377,Semnan,35.57,53.40,81.03,35,0,4.97,IR,1596259868
405,406,Karratha,-20.74,116.85,83.21,17,0,10.04,AU,1596259399
440,441,Akdepe,42.06,59.38,82.40,37,0,6.93,TM,1596259883
452,453,Farah,32.50,62.50,85.21,18,0,9.86,AF,1596259511
466,467,Havelock,34.88,-76.90,84.20,20,20,5.82,US,1596259352
496,497,Baruun-Urt,46.68,113.28,81.10,26,20,19.62,MN,1596259461

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# Store into variable named hotel_df
hotel_df = weather_cond.copy()

# Add a "Hotel Name" column to the DataFrame
hotel_df["hotel_name"] = ""

# Set parameters to search for hotels with 5000 meters

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    # geocoordinates
    target_coordinates = str(row["lat"]) + "," + str(row["lng"])
    target_search = "hotel"
    target_radius = 5000

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key
        }

    # Hit the Google Places API for each city's coordinates
    response = requests.get(base_url, params=params)

    # convert response to json
    places_data = response.json()

    try:
    
        # Store the first Hotel result into the DataFrame
        hotel_df.loc[index, 'hotel_name'] = places_data["results"][0]["name"]
    
    except:  
        # Print message for exception
        print(f"Hotel not found for city {hotel_df.loc[index, 'city']}")
        pass 
    
hotel_df

Hotel not found for city Ubari
Hotel not found for city Yumen
Hotel not found for city Akdepe
Hotel not found for city Farah

,city_id,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date,hotel_name
84,85,Springville,40.17,-111.61,84.20,37,1,6.51,US,1596259566,Hampton Inn & Suites Spanish Fork Provo
153,154,Jiayuguan City,39.82,98.30,79.39,17,0,9.10,CN,1596259767,Jiayuguan Hotel
208,209,Ubari,26.59,12.78,80.49,20,0,9.48,LY,1596259796,
226,227,Atbasar,51.80,68.33,83.68,32,15,3.31,KZ,1596259810,"The Ritz-Carlton, Astana"
322,323,Katherine,-14.47,132.27,86.00,19,8,12.75,AU,1596259524,Beagle Motor Inn
342,343,Yumen,40.28,97.20,83.93,14,0,9.57,CN,1596259859,
376,377,Semnan,35.57,53.40,81.03,35,0,4.97,IR,1596259868,Hotel Isar
405,406,Karratha,-20.74,116.85,83.21,17,0,10.04,AU,1596259399,Best Western Plus The Ranges Karratha
440,441,Akdepe,42.06,59.38,82.40,37,0,6.93,TM,1596259883,
452,453,Farah,32.50,62.50,85.21,18,0,9.86,AF,1596259511,
466,467,Havelock,34.88,-76.90,84.20,20,20,5.82,US,1596259352,Holiday Inn Express & Suites Havelock NW-New Bern
496,497,Baruun-Urt,46.68,113.28,81.10,26,20,19.62,MN,1596259461,tansag hotel

In [14]:
# Delete rows without hotel
hotel_df = hotel_df.loc[(hotel_df["hotel_name"] != "")]
hotel_df

,city_id,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date,hotel_name
84,85,Springville,40.17,-111.61,84.20,37,1,6.51,US,1596259566,Hampton Inn & Suites Spanish Fork Provo
153,154,Jiayuguan City,39.82,98.30,79.39,17,0,9.10,CN,1596259767,Jiayuguan Hotel
226,227,Atbasar,51.80,68.33,83.68,32,15,3.31,KZ,1596259810,"The Ritz-Carlton, Astana"
322,323,Katherine,-14.47,132.27,86.00,19,8,12.75,AU,1596259524,Beagle Motor Inn
376,377,Semnan,35.57,53.40,81.03,35,0,4.97,IR,1596259868,Hotel Isar
405,406,Karratha,-20.74,116.85,83.21,17,0,10.04,AU,1596259399,Best Western Plus The Ranges Karratha
466,467,Havelock,34.88,-76.90,84.20,20,20,5.82,US,1596259352,Holiday Inn Express & Suites Havelock NW-New Bern
496,497,Baruun-Urt,46.68,113.28,81.10,26,20,19.62,MN,1596259461,tansag hotel

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
                            
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))